<div class="container">
    <nav>
        <div class="navbar">
            <div class="services">
                <div class="dropdown">
                    <button class="dropbtn">Services</button>
                    <div class="dropdown-content">
                        <ng-container *ngFor="let link of service_link">
                            <a href={{link.url}} target="_blank">{{ link.name }}</a>
                        </ng-container>
                    </div>
            </div>
            </div>
            <div class="monitoring">
                <div class="dropdown">
                    <button class="dropbtn">Monitoring</button>
                    <div class="dropdown-content">
                        <ng-container *ngFor="let link of monitoring_links">
                            <a href={{link.url}} target="_blank">{{ link.name }}</a>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="tools">
                <div class="dropdown">
                    <button class="dropbtn">Tools</button>
                    <div class="dropdown-content">
                        <ng-container *ngFor="let link of tools_links">
                            <a href={{link.url}} target="_blank">{{ link.name }}</a>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="delivery">
                <div class="dropdown">
                    <button class="dropbtn">Tools</button>
                    <div class="dropdown-content">
                        <ng-container *ngFor="let link of deliveryStatus_links">
                            <a href={{link.url}} target="_blank">{{ link.name }}</a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>