<div class="container">
    <nav>
        <div class="navbar">
            <div class="services-dropdown">
                <button class="dropbtn">Services</button>
                <div class="dropdown-content">
                    <ng-container *ngFor="let link of service_link">
                        <a href={{link.url}} target="_blank">{{ link.name }}</a>
                    </ng-container>
                    <!-- <a href="https://ca.brilliant.com.bd/" target="_blank">Client Association Portal (CA)</a>
                    <a href="http://118.67.215.11/dashboard/auth/login/?next=/dashboard/project/volumes/" target="_blank">OpenStack Dashboard 1</a>
                    <a href="http://118.67.215.12/dashboard/auth/login/?next=/dashboard/project/volumes/" target="_blank">OpenStack Dashboard 2</a>
                    <a href="http://118.67.215.13/dashboard/auth/login/?next=/dashboard/project/volumes/" target="_blank">OpenStack Dashboard 3</a>
                    <a href="http://storage.brilliant.com.bd/" target="_blank">OwnCloud Storage</a>
                    <a href="https://mail.brilliant.com.bd:9071/zimbraAdmin/" target="_blank">Zimbra Admin</a>
                    <a href="https://cpanel.brilliant.com.bd:2087" target="_blank">cPanel</a>
                    <a href="https://master.intercloud.com.bd/index-login.php" target="_blank">MailBorder</a>
                    <a href="https://118.67.210.46/" target="_blank">MailBorder</a> -->
                </div>
            </div>
        </div>
    </nav>
</div>