<div class="container">
    <div class="title">
        <h2>Backup List</h2>
    </div>
    <div class="search">
        <app-search (textChange)="onTextChange($event)"></app-search>
    </div>
    <p>{{searchTerm}}</p>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>
                        Project name
                    </th>
                    <th>
                        backup volume
                    </th>
                    <th>Copy Name</th>
                    <th><button (click)="onReset()">reset</button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let backup of backupVolumes">
                    <td><a target="_blank" [href]=backup.projectURL>{{backup.projectName}}</a></td>
                    <td><a target="_blank" [href]=backup.volumeURL>{{backup.volumeName}}</a></td>
                    <td class="copyName" #copy (click)="copyName(copy)">{{backup.volumeName}}-{{currentDate | date: 'dd-MM-YYYY'}}-Cloud</td>
                    <td class="input"><input type="checkbox" name="status" id="status"  /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
