<div class="container">
    <div class="title">
        <h2>Backup List</h2>
    </div>
    <div class="search">
        <app-search (textChange)="onTextChange($event)"></app-search>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>
                        Project name
                    </th>
                    <th>
                        backup volume
                    </th>
                    <th>Copy Name</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let backup of backupVolumes">
                    <tr *ngIf="backup.backupDay.includes(today)">
                        <td><a target="_blank" [href]=backup.projectURL>{{backup.projectName}}</a></td>
                        <td><a target="_blank" [href]=backup.volumeURL>{{backup.volumeName}}</a></td>
                        <td class="copyName" #copy (click)="copyName(copy)">{{backup.volumeName}}-{{currentDate | date: 'dd-MM-YYYY'}}-Cloud</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
