<div class="container">
    <div class="form">
        <form [formGroup]=loginForm (ngSubmit)="login()">
            <div class="form-control">
                <label for="userName">Username: </label>
                <input type="text" id="userName" name="userName" formControlName="userName"> 
            </div>
            <div class="form-control">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" formControlName="password">
            </div>
            <div class="form-control">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>