@import './../../../shared/scss/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.table{
    padding: 0rem 2rem;
}

table {
    margin-left: 1rem;
}

table, tr, td {
    border-collapse: collapse;
    border: none;
}

th{
    color: $txt-heading-color;
    font-size: 1.5rem;
    padding-bottom: 3rem;
}

tbody tr {
    transition: all 0.3s 
}

tbody tr:hover {
    transform: scale(1.01);
    background-color: rgba($hover-color,0.5);
    border-collapse: collapse;
    border: none;
}

td:first-child{
    border-radius: 1rem 0rem 0rem 1rem;
    padding-left: 2rem;
}

td:nth-child(3){
    transition: color 0.09s ease-in-out;
}
td:last-child{
    border-radius: 0rem 1rem 1rem 0rem;
    padding-right: 2rem;
}

td:nth-child(3):active {
    color: rgb(168, 168, 168);
}

tr:nth-child(even) {
   background-color: rgba(0,0,0,0.03);
}

td {
    padding: 0.7rem 0.5rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}