.container {
    display: flex;
}

.container>div {
    padding: 2rem 20rem 2rem 2rem;
    border: 1px solid black;
    opacity: 0.5;
    text-wrap: nowrap;
    max-width: 5rem;
    font-size: 1.5rem;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}