@import "../../../shared/scss/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-left: 15rem;
    position: relative;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $navcolor;
}

.container div {
    padding-top: 0.7rem;
}

// form-container css
.form-container {
    position: absolute;
    left: 3rem;
    top: 5rem;
}

form, form div {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 1rem;
}

input, select {
    border-radius: 10px;
    height: 2rem;
    border: none;
    transition: border-bottom 0.1s ease-out;
}

label {
    padding-bottom: 0.5rem;
}

input:focus, select:focus{
    outline: none;
    border-bottom: solid 4px $danger;
}

button {
    margin-top: 1rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: $navcolor;
    color: $nav-text-color;
    font-weight: 300;
}

button:hover {
    background-color: rgba($navcolor,0.5);
    cursor: pointer;
}

button:disabled {
    background-color: rgba($navcolor,0.2);
    cursor: not-allowed;
}

// table-container css
.task-table {
    height: 300px;
    width: 70rem;
}

h1 {
    text-align: center;
}

.pending-container h1 {
    color: $danger;
}

@media screen and (max-width: 1300px) {
    .form-container {
        position: initial;
    }
    .container {
        padding-left: 0;
    }
}